body {
    paddding: 0;
    margin: 0;
    font-family: Arial;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.menu ul li:nth-child(5) {
    padding: 0px 0px 0px 50px; /* The pixel decides :DD */
}

.menu ul li:nth-child(6) {
    padding: 0px 0px 0px -50px;
}
.menu ul li:nth-child(8) {
    position: absolute;
    left: 1210px;
}
.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 0px 0px 100px;
}

.menu ul li:nth-child(7) {
    display: block;
    font-size: 20px;
    color: rgba(255, 17, 32, 0.62);
    padding: 11px 5px 0px 40px;
}

.menu li a:hover {
    background-color: #111111;
}

.about_me {
    margin: 250px 0px 0px 350px;
}

.about_me ol {
    list-style-type: none;
}

.about_me ol li:nth-child(1) {

}