body {
    paddding: 0;
    margin: 0;
    font-family: Arial;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.menu ul li:nth-child(7) {
    display: block;
    font-size: 20px;
    color: rgba(255, 17, 32, 0.62);
    padding: 11px 5px 0px 40px;
}

.menu ul li:nth-child(5) {
    padding: 0px 0px 0px 50px; /* The pixel decides :DD */
}

.menu ul li:nth-child(6) {
    padding: 0px 0px 0px -50px;
}
.menu ul li:nth-child(8) {
    position: absolute;
    left: 1210px;
}
.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 0px 0px 100px;
}

.menu li a:hover {
    background-color: #111111;
}

.add-note {
    margin: 200px 100px 0px 550px;

}

.text-input {
    margin: 10px 100px 0px 200px;
    max-width: 600px;
}

.button-is-link button {
    margin: 10px 100px 0px 900px;
}