body {
    paddding: 0;
    margin: 0;
    font-family: Arial;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 0px 0px 100px;
}

.menu li a:hover {
    background-color: #111111;
}

.add-note {
    margin: 200px 100px 0px 550px;

}

.text-input {
    margin: 10px 100px 0px 200px;
    max-width: 600px;
}

.button-is-link button {
    margin: 10px 100px 0px 900px;
}