body {
    paddding: 0;
    margin: 0;
    font-family: Arial;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.menu ul li:nth-child(7) {
    display: block;
    font-size: 20px;
    color: rgba(255, 17, 32, 0.62);
    padding: 11px 5px 0px 40px;
}

.menu ul li:nth-child(5) {
    padding: 0px 0px 0px 50px; /* The pixel decides :DD */
}

.menu ul li:nth-child(6) {
    padding: 0px 0px 0px -50px;
}
.menu ul li:nth-child(8) {
    position: absolute;
    left: 1210px;
}
.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 0px 0px 100px;
}

.menu li a:hover {
    background-color: #111111;
}

.my-contacts {
    margin: 200px 0px 0px 300px;
}

.contacts {
    margin: 0px 0px 0px 300px;
}

.contacts ul {
    list-style-type: none;
}

.contacts ul li {
    text-decoration: none;
}

.contacts ul li a {
    text-decoration: none;
    color: blue;
}

.contacts ul li a:hover {
    color: green;
}

.contacts ul li a:active {
    color: black;
}



