body {
    paddding: 0;
    margin: 0;
    font-family: Arial;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.menu ul li:nth-child(5) {
    padding: 0px 0px 0px 161px; /* The pixel decides :DD */
}
.menu ul li:nth-child(6) {
    padding: 0px 0px 0px -50px;
}

.menu ul li:nth-child(7){
    display: block;
    font-size: 20px;
    color: rgba(255, 17, 32, 0.62);
    padding: 11px 5px 0px 5px;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 0px 0px 100px;
}

.menu li a:hover {
    background-color: #111111;
}

.link-add {
    margin: 100px 100px 0px 150px
}

.link-add a {
    text-decoration: none;
    color: #45B0DC;
}

.link-add a:hover {

}

.nickname {
    margin: 200px 0px 0px 200px;
}

.nickname p {
    font-size: 40px;
}

.points {
    margin: 10px 0px 0px 450px;
}

.points ol {
    list-style-type: none;

}

.points ol li {
    font-size: 20px;
}

.points ol li a {
    text-decoration: none;
}
