<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/add.css' %}">
</head>
<body>
<nav>
    <div class="menu">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'add' %}">Diary</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
            <li><a href="{% url 'log_up' %}">Log in</a></li>
            {% if user.is_authenticated %}
                <li>Hello, {{ user.username }}</li>
            {% endif %} </li>
        </ul>
    </div>
</nav>
<main>
    <div class="add-note">
        <p>Add a note</p>
    </div>
    <form method="POST" action="{% url 'add' %}">
        {% csrf_token %}
        <div class="text-input">
            {{ form.text }}
        </div>

        <div class="button-is-link">
            <button>Submit</button>
        </div>
    </form>
</main>
</body>
</html>

