<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/contact.css' %}">
</head>
<body>
<nav>
    <div class="menu">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'add' %}">Diary</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
            <li><a href="{% url 'log_up' %}">Log in</a></li>
            {% if user.is_authenticated %}
                <li>Hello, {{ user.username }}</li>
            {% endif %} </li>
        </ul>
    </div>
</nav>
<main>
    <div class="my-contacts">
        <h1>My Contacts:</h1>
    </div>
    <div class="contacts">
        {% for con in contacts %}
            <ul>
                <li><a href="{{ con.vk }}">My VK</a></li>
                <li><a href="{{ con.telegram }}">Telegram</a></li>
                <li><a href="{{ con.github }}">GitHub</a></li>
                <li><a href="{{ con.habr }}">Habr</a></li>
            </ul>
        {% endfor %}
    </div>
</main>
</body>
</html>

