<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/error.css' %}">
</head>
<body>
<main>
    <div class="why-i-get-error">
        <h1>Why did i get here ?</h1>
    </div>
    <div class="answer">
        <h4>Because you have the following errors:</h4>
    </div>
    <div class="list-of-alleged-errors">
        <li>Check if you are logged in</li>
        <li>Nothing</li>
        <li>Nothing</li>
        <li>Nothing</li>
        <li>Nothing</li>
    </div>
</main>
</body>
</html>