<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/home.css' %}">
</head>
<body>
<nav>
    <div class="menu">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'add' %}">Diary</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
            <li><a href="{% url 'log_up' %}">Log up</a></li>
        </ul>
    </div>
</nav>

<main>
    <div class="link-add">
        <a href="{% url 'add' %}">Add new entry | </a>
        {% if user.is_authenticated  %}
            Hello, {{ user.username }}
        {% endif %}
    </div>
    {% for note in notes %}
        <div class="text">
            <p>
                <strong>{{ note.pub_date }}</strong>
                <br>
                {{ note.text }}
            </p>
        </div>
    {% endfor %}
</main>
</body>
</html>
